body{
    margin: 0;
    padding: 0;
}

.container{
    width: 60%;
    background: #905d5c;
    border: 15px solid black;
    margin: 10px;
    padding: 40px 5%;
}

.um{
    background: white;
    padding: 45px 10px;
    text-align: center;
    border: 15px solid darkblue;
}

p{
    font-family: Arial;
    color: blue;
    font-weight: bold;
    font-size: 30px;
}

.dois{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.div_1{
    height: 35px;
    width: 80%;
    background: blue;
}
.div_2{
    height: 35px;
    width: 50%;
    background: purple;
}
.div_3{
    height: 35px;
    width: 70%;
    background: green;
}
.div_4{
    height: 35px;
    width: 60%;
    background: yellow;
}

.tres{
    margin: 60px 10px;
    display: flex;
}

.div_5{
    height: 35px;
    width: 40%;
    background: red;
}
.div_6{
    height: 35px;
    width: 20%;
    background: darkcyan;
}
.div_7{
    height: 35px;
    width: 40%;
    background: rgb(0, 255, 0);
}