body{
   background-color: black;
    margin:0;
    font-family: monospace;
}
.header{
    border: 3px solid aqua;
}
.header .container{
    width: 80%;
    border: 3px solid rgb(0, 38, 255);
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.titulo{
    color: aqua;
    border:  3px solid red;
    width: fit-content;
}
.navBar{
    color: rgb(255, 255, 255);
    list-style: none;
    border: 3px solid rgb(0, 255, 34);
    display: flex;
    justify-content: space-evenly ;
    width: 300px;
    padding: 0%;
    align-items: center;
}
