body{
    margin: 0;
    padding: 0;
}

.container1{
    width: 60%;
    background: #905d5c;
    border: 15px solid black;
    margin: 10px;
    padding: 40px 5%;
}

.container2{
    background: white;
    padding: 45px 10px;
    text-align: center;
    border: 15px solid darkblue;
}

p{
    font-family: Arial;
    color: blue;
    font-weight: bold;
    font-size: 30px;
}

.container-center{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.container3{
    height: 35px;
    width: 80%;
    background: blue;
}
.container4{
    height: 35px;
    width: 50%;
    background: purple;
}
.container5{
    height: 35px;
    width: 70%;
    background: green;
}
.container6{
    height: 35px;
    width: 60%;
    background: yellow;
}

.container7{
    margin: 60px 10px;
    display: flex;
}

.container8{
    height: 35px;
    width: 40%;
    background: red;
}
.container9{
    height: 35px;
    width: 20%;
    background: darkcyan;
}
.container10{
    height: 35px;
    width: 40%;
    background: rgb(0, 255, 0);
}